.logoarea{
	height: 80px;
}
.newbie-form{
	margin: 0 auto;
	width: 60%;
	background-color: #ffffff;
	padding: 50px;
	font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
	border-radius: 10px;
}
#nav-item{
	background: #217CD5;
	border-color: #217CD5;
	border-radius: 20px;
}
#nav-item:hover{
	background: #fff;
	border-color: #2070C0;
	font-color: white;
}

.newbie-select{
	width:25%;
	float: left;
	margin-right: 22px;
}
.newbir-input{
	padding-left: 10px;
}
#name{
	width: 40%;
}
#phone-num{
	width: 60%;
}
#email{
	width: 60%;
}
.newbie-submit{
	background-color: #212529;
	color:#fff;
}